.benefitTitle {
  text-align: center;
  margin: 100px 0px 40px 0px;
  font-size: 35px;
  font-weight: 700;
  color: orange;
}

.benefitText {
  font-weight: 600;
  color: rgb(138, 138, 138);
  text-shadow: 0px 0px 6px rgba(122, 122, 122, 0.72);
}

.divider {
  margin: 60px auto;
  width: 85%;
  box-shadow: orange 0px 0px 6px 2px;
}

@media screen and (max-width: 768px) {
  .benefitTitle {
    text-align: center;
    margin: 50px 0px 20px 0px;
    font-size: 25px;
    font-weight: 700;
    color: orange;
  }

  .benefitText {
    font-weight: 500;
    color: rgb(138, 138, 138);
    text-shadow: 0px 0px 6px rgba(122, 122, 122, 0.72);
    font-size: 22px;
  }
}
