.heroContainer {
  width: 100%;
  height: 650px;
  object-fit: cover;
  z-index: -1;
}

.heroTextContainter {
  position: absolute;
  top: 220px;
  left: 85px;
}

.heroText h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;
}

.smallHeroText {
  position: absolute;
  left: 60px;
}

.smallHeroText p {
  font-size: 17px;
  font-weight: 300;
  line-height: 19px;
}

.heroButton {
  position: absolute;
  left: 57px;
  bottom: -160px;
  font-weight: 700;
  border: 2px solid black;
}

@media only screen and (max-width: 992px) {
  .heroContainer {
    width: 100%;
    height: 450px;
  }

  .heroTextContainter {
    position: absolute;
    top: 140px;
    left: 40px;
  }

  .heroText h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
  }

  .smallHeroText {
    position: absolute;
    left: 60px;
  }

  .smallHeroText p {
    font-size: 14px;
    font-weight: 300;
    line-height: 12px;
  }

  .heroButton {
    position: absolute;
    left: 60px;
    bottom: -140px;
    font-weight: 700;
    border: 2px solid black;
  }
}

@media only screen and (max-width: 768px) {
  .heroContainer {
    width: 100%;
    max-height: 350px;
  }

  .heroTextContainter {
    position: absolute;
    top: 120px;
    left: 40px;
  }

  .heroText h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .smallHeroText {
    position: absolute;
    left: 60px;
  }

  .smallHeroText p {
    font-size: 11.2px;
    font-weight: 300;
    line-height: 12px;
  }

  .heroButton {
    position: absolute;
    left: 60px;
    bottom: -120px;
    font-size: 9px;
    font-weight: 700;
    border: 2px solid black;
  }
}

@media only screen and (max-width: 600px) {
  .heroContainer {
    width: 100%;
    max-height: 220px;
  }

  .heroTextContainter {
    position: absolute;
    top: 90px;
    left: 15px;
  }

  .heroText h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  .smallHeroText {
    position: absolute;
    left: 50px;
  }

  .smallHeroText p {
    font-size: 8px;
    font-weight: 300;
    line-height: 7px;
  }

  .heroButton {
    position: absolute;
    left: 48px;
    bottom: -80px;
    font-size: 5px;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 4px;
    width: 60px;
    height: 17px;
    padding: 0;
    margin: 0;
  }
}
